main{
  display: flex;
  justify-content: center;
  align-items: center;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main{
  height: 80%;
  background-color: #ff4d4d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  height:25vh;
  width: 20vw;

  filter: brightness(0%);
  transition: all 0.5s ease-in;
  margin: 5px;
}

.showCard{
  transition: all 0.5s ease-out;
  filter: brightness(100%);
}
/* ------------------ */

img:hover{
  cursor: pointer;
}
